
.fadeOut {
	animation: fadeOut 1s;
  	opacity: 0;
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
  to {
 	opacity: 0;
  }
}

.fadeIn {
	animation: fadeIn 1s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

.fadeInScrollButton {
  @extend .fadeIn;
  animation: fadeInScrollButton 0.3s;
  opacity: 60%;
}

@keyframes fadeInScrollButton {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 60%;
  }
}

.fadeInFaster {
	animation: fadeInFaster 0.3s;
  	opacity: 1;
}

@keyframes fadeInFaster {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}